<div class="row">
  <div class="col-12 col-sm-6">
    <h3 class="text-themecolor">Class Timing
    <span class="card-subtitle d-none d-sm-inline">Total 2 result found - showing records from 1 to 2</span>
  </h3>
</div>
<div class="col-12 col-sm-6">
  <div class="action-buttons pull-right">
    <button class="btn btn-info btn-sm has-tooltip" data-original-title="null" style="margin-right: 5px;">
      <i class="fas fa-plus"></i>
      <span class="d-none d-sm-inline" >Add New Class Timing</span></button>

     <div class="btn-group">
       <button type="button" role="menu" id="sortByLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info btn-sm dropdown-toggle no-caret has-tooltip" data-original-title="null" style="margin-right: 5px;">
         <i class="fas fa-sort-alpha-down"></i>
         <span class="d-none d-sm-inline">Sort By</span>
        </button>
        <div aria-labelledby="sortByLink" class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item custom-dropdown">
            <i class="fas fa-sort-alpha-down"></i>
             Ascending <span class="pull-right"><i class="fas fa-check"></i></span></button>
             <button class="dropdown-item custom-dropdown">
               <i class="fas fa-sort-alpha-up"></i>
                Descending <!---->
              </button>
              <div class="dropdown-divider">

              </div>
              <button class="dropdown-item custom-dropdown">
Name <span class="pull-right">
  <i class="fas fa-check"></i>
</span>
</button>
</div>
</div>
<div class="btn-group">
  <button type="button" role="menu" id="moreOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-info btn-sm dropdown-toggle no-caret  has-tooltip" data-original-title="null">
    <i class="fas fa-ellipsis-h"></i>
    <span class="d-none d-sm-inline"></span>
  </button>
  <div aria-labelledby="moreOption" class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item custom-dropdown">
      <span ><i class="fas fa-eye"></i> Show Class Timing Session</span></button>

    <button class="dropdown-item custom-dropdown"><i class="fas fa-print"></i> Print</button>
    <button class="dropdown-item custom-dropdown"><i class="fas fa-file-pdf"></i> Generate PDF</button></div></div>
    <span></span>
  </div>
</div>
</div>



<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Session</th>
              <th>Duration</th>
              <th>Description</th>
              <th>Last Updated at</th>
              <th class="table-option">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>18/19 wef 1 Oct 2019</td>
               <td>5 Session

                <span> + 1 Break</span>
              </td>
               <td>9:00 am to 1:00 am</td>
               <td></td>
               <td></td>
               <td class="table-option">
                 <div class="btn-group">
                   <button class="btn btn-info btn-sm has-tooltip" data-original-title="null">
                     <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm has-tooltip" data-original-title="null">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>18/19 wef 1 Sep 2019</td>
                 <td>6 Session

                <span> + 1 Break</span>
              </td>
              <td>7:30 am to 12:15 pm</td>
              <td></td>
              <td></td>
              <td class="table-option">
                <div class="btn-group">
                  <button class="btn btn-info btn-sm has-tooltip" data-original-title="null">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-danger btn-sm has-tooltip" data-original-title="null">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!---->
      <div class="row">
        <div class="col-md-8">
          <!---->
        </div>
        <div class="col-md-4">
          <div class="pull-right m-r-10">
            <select name="page_length" class="form-control">
              <option value="1">1 per page</option>


              <option value="5">5 per page </option>
              <option value="10">10 per page</option>
              <option value="25">25 per page</option>
              <option value="50"> 50 per page</option>
              <option value="100"> 100 per page</option>

            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
