<app-stats></app-stats>
<app-chart></app-chart>
<div class="row" id="attendancesummary">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="attendancesummary">
      <app-attendance-summary></app-attendance-summary>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="attendancesummary">
      <app-employee-attendance></app-employee-attendance>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="attendancesummary">
      <app-notice-board></app-notice-board>
  </div>


</div>
<div class="row" id="messagebox">
  <div class="col-lg-6">
    <app-class-attendance></app-class-attendance>
  </div>
  <div class="col-lg-6">
    <app-message-box></app-message-box>
  </div>

</div>
