<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 class="mb-0">
            Today's Employee Attendance
            <span id="icons-btn">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-angle-down"></i>
                </button>
                <button class="btn btn-link" (click)="Check()">
                    <i class="fas fa-sync-alt"></i>
                </button>
              </span>
          </h6>
            
       
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="table-responsive">          
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Class Name</th>
                    <th>Total Students</th>
                    <th>Daily Attendance</th>
                    <th>Yearly Attendance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Class 2</td>
                    <td>50</td>
                    <td>40</td>
                    <td>500</td>
                  </tr>
                </tbody>
              </table>
              </div>
              <a class="info" href="">See all information<i class="fas fa-arrow-alt-circle-right"></i></a>
      </div>
    </div>
    
  </div>
