<div id="noticeBoard">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 class="mb-0"><i class="fa fa-bell"></i>
            Notice Board
            <span id="icons-btn">
                <button class="btn" data-toggle="collapse" data-target="#collapseNaticeBoard" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-angle-down" id="text1"></i>
                </button>
                <button class="btn btn-link" (click)="Check()">
                    <i class="fas fa-sync-alt" id="text1"></i>
                </button>
              </span>
          </h6>


      </div>

      <div id="collapseNaticeBoard" class="collapse show" aria-labelledby="headingOne" data-parent="#noticeBoard">
          <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Follower</th>
                    <th>View Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12/8/2019</td>
                    <td>December</td>
                    <td>ALL</td>
                    <td><button class="btn btn-link" >
                        <i class="fa fa-paper-plane"></i>Details
                    </button></td>
                  </tr>
                </tbody>
              </table>
              </div>
      </div>
    </div>

  </div>
