
<div class="row">
  <div class="col-lg-12">
    <h2 class="heading">Admin Dashboard Stat</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="dashboard-stat red" href="#">
      <div class="visual">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="details">
        <div class="number">
          <span>312</span>
        </div>
        <div class="desc">STUDENTS</div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="dashboard-stat blue" href="#">
      <div class="visual">
        <i class="fas fa-chalkboard-teacher"></i>
      </div>
      <div class="details">
        <div class="number">
          <span>12.5</span>
        </div>
        <div class="desc">TEACHERS</div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="dashboard-stat hoki" href="#">
      <div class="visual">
        <i class="fa fa-credit-card"></i>
      </div>
      <div class="details">
        <div class="number">
          <span>+ 53%</span>
        </div>
        <div class="desc">STAFF</div>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <a class="dashboard-stat purple" href="#">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          <span>689</span>
        </div>
        <div class="desc">PRESENT STUDENTS</div>
      </div>
    </a>
  </div>
</div>

