
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Saif
            <strong>Ullah</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->

      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>

            </a>

          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-users"></i>
              <span>Academic</span>
              <span class="badge badge-pill badge-danger">5</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Course/Class

                  </a>
                </li>
                <li>
                  <a href="#">Subject

                  </a>
                </li>
                <li>
                  <a href="#">Routine/TimeTable</a>
                </li>
                <li>
                  <a href="#">Examination</a>
                </li>
                <li>
                  <a href="#">Notice

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Students & Guardians</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Student

                  </a>
                </li>
                <li>
                  <a href="#">Attendance

                  </a>
                </li>
                <li>
                  <a href="#">Guardian Info</a>
                </li>

              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-user"></i>
              <span>Teachers</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Teachers Information

                  </a>
                </li>
                <li>
                  <a href="#">Assign New Teachers

                  </a>
                </li>
                <li>
                  <a href="#">Assign Incharge</a>
                </li>

              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-calculator"></i>
              <span>Account</span>
              <span class="badge badge-pill badge-danger">6</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                  <li>
                      <a href="#">Account Settings</a>
                    </li>
                <li>
                  <a href="#">Scholorship/Consessions

                  </a>
                </li>
                <li>
                  <a href="#">Add Account Title

                  </a>
                </li>
                <li>
                  <a href="#">Students Payments</a>
                </li>
                <li>
                  <a href="#">Transactions

                  </a>
                </li>
                <li>
                  <a href="#">Pay Salary

                  </a>
                </li>

              </ul>
            </div>
          </li>

          <!--Library Code-->

          <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-university"></i>
                <span>Account</span>
                <span class="badge badge-pill badge-danger">7</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Add Book Category</a>
                      </li>
                  <li>
                    <a href="#">All Book Category

                    </a>
                  </li>
                  <li>
                    <a href="#">Add Books

                    </a>
                  </li>
                  <li>
                    <a href="#">Book List</a>
                  </li>
                  <li>
                    <a href="#">Add Library Member

                    </a>
                  </li>
                  <li>
                    <a href="#">Member List

                    </a>
                  </li>
                  <li>
                      <a href="#">Issue & Return Books

                      </a>
                    </li>

                </ul>
              </div>
            </li>

            <!-- Transport Code-->

            <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-bus"></i>
                  <span>Transport</span>
                  <span class="badge badge-pill badge-danger">4</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                      <li>
                          <a href="#">Vehicles</a>
                        </li>
                    <li>
                      <a href="#">Drivers

                      </a>
                    </li>
                    <li>
                        <a href="#">Routes

                        </a>
                      </li>
                    <li>
                      <a href="#">All Transport

                      </a>
                    </li>
                    <li>

                  </ul>
                </div>
              </li>

              <!-- System Messages Code-->

              <li class="sidebar-dropdown">
                  <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span>System Messages</span>
                    <span class="badge badge-pill badge-danger">3</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a href="#">Send Message</a>
                          </li>
                      <li>
                        <a href="#">Sent Messages

                        </a>
                      </li>
                      <li>
                          <a href="#">Inbox

                          </a>
                        </li>

                    </ul>
                  </div>
                </li>

                <!--Mobile Messages Code-->

                <li class="sidebar-dropdown">
                    <a href="#">
                      <i class="fa fa-envelope"></i>
                      <span>--Mobile Messages</span>
                      <span class="badge badge-pill badge-danger">2</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                          <li>
                              <a href="#">Attendance Messages</a>
                            </li>
                        <li>
                          <a href="#">Custome Messages

                          </a>
                        </li>

                      </ul>
                    </div>
                  </li>

                  <!--Event & Calender Code-->

                  <li class="sidebar-dropdown">
                      <a href="#">
                        <i class="fa fa-calendar"></i>
                        <span>Event & Calendar</span>
                        <span class="badge badge-pill badge-danger">3</span>
                      </a>
                      <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#">Events</a>
                              </li>
                          <li>
                            <a href="#">Calendar

                            </a>
                          </li>
                          <li>
                              <a href="#">Scheduler

                              </a>
                            </li>

                        </ul>
                      </div>
                    </li>

                    <!--Profile Code -->

                    <li class="sidebar">
                        <a href="#">
                          <i class="fa fa-newspaper"></i>
                          <span>Profile</span>
                     </a>
                    </li>

        </ul>
      </div>
    </div>
    <!-- sidebar-menu Ends Here  -->

    <!-- sidebar-Footer-content Started  -->

    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>


