
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">Saif
            <strong>Ullah</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->

      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar">
            <a routerLink="/dashboard">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>

            </a>

          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-users"></i>
              <span>Academic</span>

            </a>
            <div class="sidebar-submenu">
              <ul>
                  <li class="submenu-dropdown">
                      <a>Course/Class </a>
                        <div class="submenu-submenu">
                          <ul>
                            <li>
                              <a routerLink="/academic/addclass">Add Class</a>
                            </li>
                            <li>
                                <a routerLink="/academic/addsection">Add Section</a>
                              </li>
                              <li>
                                  <a routerLink="/academic/classinformation">Class Information</a>
                                </li>
                                <li>
                                    <a routerLink="/academic/classpromotion">Class Promotion</a>
                                  </li>
                          </ul>
                        </div>

                    </li>
                <li class="submenu-dropdown">
                  <a>Subject</a>

                  <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a routerLink="/academic/addsubject">Add Subject</a>
                        </li>
                        <li>
                            <a routerLink="/academic/allsubjects">All Subjects</a>
                          </li>
                          <li>
                              <a routerLink="/academic/addoptionalsubject">Add Optional Subject</a>
                            </li>

                      </ul>
                    </div>

                </li>
                <li class="submenu-dropdown">
                  <a>Routine/TimeTable</a>
                  <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a routerLink="/academic/settimetable">Set Timetable</a>
                        </li>
                        <li>
                            <a routerLink="/academic/classtimetable">Class Timetable</a>
                          </li>
                          <li>
                              <a routerLink="/academic/teachertimetable">Teacher Timetable</a>
                            </li>

                      </ul>
                    </div>

                </li>
                <li class="submenu-dropdown">
                  <a>Examination</a>
                    <div class="submenu-submenu">
                        <ul>
                          <li>
                            <a routerLink="/academic/setexamgrade">Set Exam Grade</a>
                          </li>
                          <li>
                              <a routerLink="/academic/setgradeinfo">Set Grade Info</a>
                          </li>
                          <li>
                                <a routerLink="/academic/createexam">Create Exam & Routine</a>
                          </li>
                          <li>
                              <a routerLink="/academic/allexamroutine">All Exam Routine</a>
                          </li>
                            <li>
                              <a routerLink="/academic/takeexamattendance">Take Exam Attendance</a>
                            </li>
                            <li>
                                  <a routerLink="/academic/examattendance">Exam Attendance</a>
                            </li>
                            <li>
                                <a routerLink="/academic/submitresultsheet">Submit Result Sheet</a>
                            </li>
                              <li>
                                <a routerLink="/academic/approveresultsheet">Approve Result Sheet</a>
                              </li>
                              <li>
                                    <a routerLink="/academic/examresult">Exam Result</a>
                              </li>
                              <li>
                                  <a routerLink="/academic/studentsmarksheet">Students Mark Sheet</a>
                            </li>


                        </ul>
                      </div>
                </li>
                <li class="submenu-dropdown">
                  <a>Notice</a>

                    <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a routerLink="/academic/publishnotice">Publish Notice</a>
                        </li>
                        <li>
                            <a routerLink="/academic/allnotices">All Notices</a>
                        </li>
                      </ul>
                    </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-user"></i>
              <span>Students & Guardians</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li class="submenu-dropdown">
                  <a>Student</a>
                  <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a routerLink="/studentsguardians/admission">Admission</a>
                        </li>
                        <li>
                          <a routerLink="/studentsguardians/registration">Registration</a>
                        </li>
                        <li>
                            <a>Admission Form File</a>
                        </li>
                        <li>
                            <a>Student Information</a>
                          </li>
                        <li>
                              <a>View Student Report</a>
                        </li>
                      </ul>
                    </div>
                </li>
                <li class="submenu-dropdown"s>
                  <a>Attendance</a>

                  <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a>Biometric Attendance</a>
                        </li>
                        <li>
                            <a>Delete Attendace</a>
                        </li>
                        <li>
                            <a routerLink="/studentsguardians/markattendance">Manual Attendance</a>
                          </li>
                        <li>
                              <a routerLink="/studentsguardians/markattendance">Attendance View</a>
                        </li>
                      </ul>
                    </div>
                </li>
                <li class="submenu-dropdown">
                  <a>Guardian Info</a>
                  <div class="submenu-submenu">
                      <ul>
                        <li>
                          <a  routerLink="/studentsguardians/guardiansaccess">Guardians Access</a>
                        </li>
                        <li>
                            <a>Guardians Information</a>
                        </li>

                      </ul>
                    </div>
                </li>

              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-user"></i>
              <span>Teachers</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li *ngFor="let teacher of teachers">
                  <a routerLink="{{teacher.link}}">{{teacher.name}}</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-calculator"></i>
              <span>Account</span>
            </a>
            <div class="sidebar-submenu">
              <ul class="submenu-dropdown">
                  <li>
                      <a>Account Settings</a>
                      <div class="submenu-submenu">
                          <ul>
                            <li>
                              <a>Students Fee</a>
                            </li>
                            <li>
                                <a>Employee's Salaries</a>
                            </li>

                          </ul>
                        </div>
                    </li>
                <li>
                  <a>Scholorship/Consessions</a>

                </li>
                <li>
                  <a>Add Account Title

                  </a>
                </li>
                <li>
                  <a> Students Payments</a>
                </li>
                <li>
                  <a>Transactions

                  </a>
                </li>
                <li>
                  <a>Pay Salary

                  </a>
                </li>

              </ul>
            </div>
          </li>

          <!--Library Code-->

          <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-university"></i>
                <span>Account</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                    <li>
                        <a>Add Book Category</a>
                    </li>

                  <li>
                    <a>Add Books

                    </a>
                  </li>
                  <li>
                    <a>Book List</a>
                  </li>
                  <li>
                    <a>Add Library Member

                    </a>
                  </li>
                  <li>
                    <a>Member List

                    </a>
                  </li>
                  <li>
                      <a>Issue & Return Books

                      </a>
                    </li>

                </ul>
              </div>
            </li>

            <!-- Transport Code-->

            <li class="sidebar-dropdown">
                <a>
                  <i class="fa fa-bus"></i>
                  <span>Transport</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                      <li>
                          <a routerLink="/transport/vehicles">Vehicles</a>
                        </li>
                    <li>
                      <a>Drivers

                      </a>
                    </li>
                    <li>
                        <a>Routes

                        </a>
                      </li>
                    <li>
                      <a routerLink="/transport/transport-fee">All Transport

                      </a>
                    </li>
                    <li>

                  </ul>
                </div>
              </li>

              <!-- System Messages Code-->

              <li class="sidebar-dropdown">
                  <a>
                    <i class="fa fa-envelope"></i>
                    <span>System Messages</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a>Send Message</a>
                          </li>
                      <li>
                        <a>Sent Messages

                        </a>
                      </li>
                      <li>
                          <a>Inbox

                          </a>
                        </li>

                    </ul>
                  </div>
                </li>

                <!--Mobile Messages Code-->

                <li class="sidebar-dropdown">
                    <a>
                      <i class="fa fa-envelope"></i>
                      <span>--Mobile Messages</span>
                    </a>
                    <div class="sidebar-submenu">
                      <ul>
                          <li>
                              <a>Attendance Messages</a>
                            </li>
                        <li>
                          <a>Custome Messages

                          </a>
                        </li>

                      </ul>
                    </div>
                  </li>

                  <!--Event & Calender Code-->

                  <li class="sidebar-dropdown">
                      <a>
                        <i class="fa fa-calendar"></i>
                        <span>Event & Calendar</span>
                      </a>
                      <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a >Events</a>
                              </li>
                          <li>
                            <a>Calendar

                            </a>
                          </li>
                          <li>
                              <a>Scheduler

                              </a>
                            </li>

                        </ul>
                      </div>
                    </li>

                    <!--Profile Code -->

                    <li class="sidebar">
                        <a>
                          <i class="fa fa-newspaper"></i>
                          <span>Profile</span>
                     </a>
                    </li>

        </ul>
      </div>
    </div>
    <!-- sidebar-menu Ends Here  -->

    <!-- sidebar-Footer-content Started  -->

    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-danger">3</span>

      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-danger">5</span>

      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>


