<div class="card" id="padding">
    <div class="card-body">
      <h6 class="card-title" id="text1">Present Staff</h6>
      <p class="card-text" id="text1">20</p>
    </div>
  </div>
  <div class="card" id="padding">
      <div class="card-body">
        <h6 class="card-title" id="text2">Absent Staff</h6>
        <p class="card-text" id="text2">4</p>
      </div>
    </div>
    <div class="card" >
        <div class="card-body">
          <h6 class="card-title" id="text3">On Leave</h6>
          <p class="card-text" id="text3">1</p>
        </div>
      </div>
