#headingOne{
  background-color:#4CAF50;
  color:#fff;
}
#text1{
color:#fff;
}
#collapseOne{
  height:153px;
}
#text2{
  float:right;
  margin-top:46px;
}
.list-group{
  margin-top:8px;
  margin-left:5px;
}
