<div id="messageBox">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 class="mb-0">
            Message Box
            <span id="icons-btn">
                <button class="btn" data-toggle="collapse" data-target="#collapsemessageBox" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-angle-down" id="text1"></i>
                </button>
                <button class="btn btn-link" (click)="Check()">
                    <i class="fas fa-sync-alt" id="text1"></i>
                </button>
              </span>
          </h6>


      </div>

      <div id="collapsemessageBox" class="collapse show" aria-labelledby="headingOne" data-parent="#messageBox">
          <ul class="list-group">
              <li class="list-group-item">from:hafiz amir
                <p>subject:hhhhhhhhhhhhh</p>
              </li>

            </ul>
            <a href="" id="text2">See all messages<i class="fas fa-arrow-alt-circle-right"></i></a>
      </div>
    </div>

  </div>
