<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 class="mb-0">
            Today's Employee Attendance
            <span id="icons-btn">
                <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-angle-down"></i>
                </button>
                <button class="btn btn-link" (click)="Check()">
                    <i class="fas fa-sync-alt"></i>
                </button>
              </span>
          </h6>
            
       
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <ul class="list-group">
              <li class="list-group-item">from:hafiz amir
                <p>subject:hhhhhhhhhhhhh</p>
              </li>
              
            </ul>
            <a href="" style="float: right;">See all messages<i class="fas fa-arrow-alt-circle-right"></i></a>
      </div>
    </div>
    
  </div>
